<!-- 'npm install bootstrap --save' komutu ile projeye Bootstrap framework'unu ekledim ve proje boyunca kullanmaya çalışacağım. -->

<div class="container">
  <div class="col">
    <div class="row justify-content-center">
      <h4>Canlı Kamera Görüntüsü:</h4>
    </div>
    <div class="row justify-content-center">
      <webcam [height]="400" [width]="400" [trigger]="photoTakerObservable" (imageCapture)="getImage($event)"></webcam>
    </div>

    <!--Bu buton ts dosyasındaki 'takePhoto()' metotunu çağırarak fotoğraf çekecek.-->
    <div class="row justify-content-center">
      <button class="btn btn-info p-2" (click)="takePhoto();">Fotoğraf Çek</button>
    </div>
  </div>
</div>

<!-- Uygulamayı tek component olarak yazmak yerine component'lara bölmeyi tercih ettim.
     Kameranın görüntülenmesi ve fotoğraf çekme işlemi app.component içerisinde yapılırken,
     çekilen fotoğrafın ekrana bastırılması benim oluşturduğum bir component olan photo.component
     içerisinde yapılacak.
     Burada gerekli değişkeni de yollayarak photo component'ini, kendi selector'u aracılığıyla çağırdım.
-->
<photo-selector [photo]="photo"></photo-selector>